<section class="tiles {{ classNames }}">
	<header class="tiles__header"></header>
	{{#each tiles}}
		<div class="tiles__item" data-feed-id="{{ id }}" data-image="{{ image }}">
			<h2 class="tiles__title">{{ title }}</h2>
			{{#if subtitle }}
			<h3 class="tiles__subtitle">{{ subtitle }}</h3>
			{{/if}}
			{{#if allowComments }}
			<i class="icon icon_comment" data-trigger="show_comments:{{ id }}">{{ comment_count }}</i>
			{{/if}}
			{{{ tileAddon }}}
		</div>
	{{/each}}
	<footer class="tiles__footer"></footer>
</section>