<div class="tiles__item" data-post-id="{{ id }}">
	<h2 class="tiles__title">{{ title }} <span class="preloader-target"></span></h2>
	{{#if subtitle }}
	<h3 class="tiles__subtitle">{{ subtitle }}</h3>
	{{/if}}
	{{#if allowComments }}
	<i class="tiles__comments icon icon_comment" data-trigger="show_comments:{{ id }}">{{ comment_count }}</i>
	{{/if}}
	{{{ tileAddon }}}
</div>