<section class="tiles {{ classNames }}">
	<header class="tiles__header">
		{{! Не авторизированный пользователь }}
		<div class="user-profile user-profile_no-auth">
			<span class="avatar user-profile__avatar"></span>
			<h4 class="user-profile__name">Мой профиль</h4>
			<i class="icon icon_profile user-profile__info" data-trigger="authorize"></i>
		</div>
		{{! Авторизированный пользователь }}
		<div class="user-profile user-profile_auth">
			<span class="avatar user-profile__avatar">{{#if user}}<img src="http://www.gravatar.com/avatar/{{ user.hash }}?s=50" />{{/if}}</span>
			<h4 class="user-profile__name">{{#if user}}{{ user.displayname}}{{/if}}</h4>
			{{! <i class="icon icon_profile user-profile__info"></i> }}
		</div>
	</header>
	{{#each tiles}}
		<div class="tiles__item" data-post-id="{{ id }}" data-image="{{ image }}">
			<h2 class="tiles__title">{{ title }} <span class="preloader-target"></span></h2>
			{{#if subtitle }}
			<h3 class="tiles__subtitle">{{ subtitle }}</h3>
			{{/if}}
			{{#if allowComments }}
			<i class="icon icon_comment" data-trigger="show_comments:{{ id }}">{{ comment_count }}</i>
			{{/if}}
			{{{ tileAddon }}}
		</div>
	{{/each}}
	<footer class="tiles__footer">
		<i class="icon icon_refresh tiles__refresh" data-trigger="reload_splash"></i>
		<div class="tiles__paging">Стр. {{ pageNumber }} из {{ totalPages }}</div>
	</footer>
</section>